<div class="profile">

    <img class="headshot" src="/images/bernie.jpg" alt="Bernie Sanders">

<h2>Bernie Sanders</h2>
    <h4>Democrat</h4>
<p>
    Brooklyn-born Bernie Sanders marched on Washington in 1963, moved to Vermont the next year and ultimately ran six statewide races there (lost four, won two). The nation’s only socialist member of Congress tells high school students to argue with their parents and teachers and is an ardent anti-war activist who fought for military veterans. He has been a popular mayor, a Senate committee chairman, an early social media and filibuster phenomenon and he once recorded a folk album in the style of William Shatner.
<br><br>
    Campaign finance: Limit corporate and interest-group spending in campaigns.
    <br><br>

    Sanders proposes a Constitutional amendment that would effectively reverse the Supreme Court’s Citizen United ruling and ban corporations and nonprofits from unlimited campaign expenditures. The independent senator would also require disclosure of any organizations spending $10,000 or more on an election-related campaign.
    <br><br>

    Climate change: Charge companies for carbon emissions
    <br><br>

    Considered to be a “climate change hawk,” Sanders argues that shifting global temperatures are a significant threat and caused by human activity. He has sponsored a bill which would charge companies for their carbon emissions and use some of the money raised to boost renewable energy technology.
    <br><br>

    Education: Two years free tuition at state colleges. Reform student loans.
    <br><br>

    Sanders would provide $18 billion to state governments to allow them to cut tuition at state colleges by 55 percent. And he would allow anyone paying off a student loan currently to refinance at a lower rate.
    <br><br>

    Federal Reserve and banks: Break up big banks. Open up the Fed.
    <br><br>

    Sanders would divide large banks into smaller entities and charge a new fee for high-risk investment practices, including credit default swaps. In addition, he believes the Federal Reserve is an opaque organization which gives too much support to large corporations. His pushed for a 2011 audit of the Fed and he would use the Fed to force banks into loaning more money to small businesses. Finally, he would ban financial industry executives from serving on the 12 regional boards of directors.
    <br><br>

    Guns: A mixed approach. No federal handgun waiting period. Some protection for gun manufacturers. Ban assault weapons.
    <br><br>

    In the House of Representatives, Sanders voted against the pro-gun-control Brady Bill, writing that he believes states, not the federal government, can handle waiting periods for handguns. Soon after, he voted yes for the 1994 Violent Crime Control and Law Enforcement Act that included an assault weapons ban. He has voted to ban some lawsuits against gun manufacturers and for the Manchin-Toomey legislation expanding federal background checks.
    <br><br>

    Health care: Change to single-payer government-provided health care
    <br><br>

    Sanders voted for the Affordable Care Act, but believes that the new health care law did not go far enough. Instead, he espouses a single-payer system in which the federal and state governments would provide health care to all Americans. Participating states would be required to set up their own single-payer system and a national oversight board would establish an overall budget.
    <br><br>

    Immigration: Offer path to citizenship. Waive some deportations now.
    <br><br>

    Sanders generally agrees with President Obama that most of the undocumented immigrants in the country now should be given a path to citizenship. He voted for the senate immigration bill in 2013, which would have increased border security and issued a provisional immigrant status to millions of undocumented residents once some significant security metrics had been met. In addition, Sanders has supported President Obama’s use of executive orders to waive deportation for some groups of immigrants, including those who were brought to the United States as children.
    <br><br>

    Taxes: Raise some taxes on the wealthy. Cut taxes for middle class.
    <br><br>

    The current ranking minority member on the Senate Budget Committee, Sanders would nearly double taxes on capital gains and dividends for the wealthiest two percent of Americans. In addition, this year Sanders asked President Obama to use executive action to close six tax deductions benefitting corporations and hedge funds. The Vermont senator would use some of the revenue gained from higher taxes on the rich to lower taxes for middle and lower class Americans.
    <br><br>

    Iraq, Islamic State and Afghanistan: Opposed the Iraq war. Calls for troop withdrawal as soon as possible.
    <br><br>

    A longtime anti-war activist, Sanders voted against the Iraq war resolution in 2002. He has regularly called for the U.S. to withdraw troops from Afghanistan and Iraq as soon as possible. Regarding the Islamic State, Sanders has said the U.S. should not lead the fight. In general, he believes the U.S. should focus less on international conflict and more on the domestic needs of the middle class.
    <br><br>

    Iran and Israel: Supports current talks with Iran. Critical of Israeli Prime Minister Benjamin Netanyahu.
    <br><br>

    Sanders backs President Obama’s negotiations with Iran and sharply criticized Republican senators who signed a letter warning Iran against a potential deal. In a statement, the Jewish senator pushed back against the idea of tougher sanctions and was critical of Netanyahu’s speech to Congress. Sanders was the first senator to announce he would not attend the speech.</p>
    <br><br>
    Content originally appeared on <a href="www.pbs.org/newshour">pbs.org</a>
<br><br>
    BY LISA DESJARDINS
    <br>

    <a href="/"><button class="main">Back to Main</button></a>
</div>