<div class="profile">
    <img class="headshot" src="/images/cruz.jpg" alt="Ted Cruz">
    <h2>Ted Cruz</h2>
    <h4>Republican</h4>
<p>
    Ted Cruz is senator, firebrand, former prosecutor, the son of a preacher-man (who was also a Cuban emigre), a Tea Party favorite and now a presidential candidate. To begin the season of decision, here is a look at where the first official Republican contender stands on ten key issues.
<br><br>
    The Budget and debt: Mandate a balanced budget.
    <br><br>
    Cruz supports a Constitutional amendment mandating that Congress pass a balanced budget. He argues that this is the best way to cut down deficits and the debt.
    <br><br>
    Corporations: Slash corporate tax rates to 15 percent. End some programs like the Export-Import bank and federal subsidies for renewable fuels.
    <br><br>
    Cruz is a proponent of a simpler tax code (with no IRS, see below). As part of that, he would end some current tax breaks and lower tax rates. In the case of corporations, he would lower their current maximum rate of 35 percent (with deductions) to 15 percent (with fewer or no deductions).
    <br><br>
    In his speeches and writings, Cruz rails against what he calls “corporate welfare” from the government. As a specific example, he frequently points to the Export-Import bank. The bank is a federal program which helps foreign entities buy U.S. goods by insuring the purchase. Cruz sees it as a boon to large corporations which he believes do not need federal assistance. In addition, Cruz told voters in Iowa recently that he opposes subsidies for renewable fuels, including ethanol, because he believes the industry can compete without the federal funds.
    <br><br>
    Common Core: End it.
    <br><br>
    In stump speeches, Cruz stresses that he wants to repeal or roll back the Common Core education standards placed on states from the federal government. He is a co-sponsor of Local Control of Education Act, which allows states to opt out without affecting their ability to receive federal grant money.
    <br><br>
    Immigration: Block any current effort that lets undocumented immigrants legally remain in the U.S.
    <br><br>
    Cruz has particularly stressed his opposition to President Obama’s executive actions on immigration. The Texas senator filed a bill blocking the president’s actions, which allow more undocumented residents to gain legal status, including the administration’s waivers for young people brought to the U.S. as children. Cruz argues that those actions encouraged increased illegal immigration. In addition, Cruz opposed the 2013 comprehensive immigration bill which passed the U.S. Senate. He denounced the bill as offering “amnesty.” One of his amendments would have tripled the number of border patrol agents and quadrupled their equipment. It did not pass.
    <br><br>
    The Internet: Do not tax access to the Internet and block “net neutrality.”
    <br><br>
    Cruz vigorously opposes any federal, state or local taxes for accessing the Internet, even though ending such taxes would cost his home state $358 million a year, according to the National Journal. The Texas senator strongly opposes “net neutrality,” which would block Internet providers from charging different rates or having different policies for different pieces of Internet content. As he implied in a Facebook post, Cruz believes that policy would tie the hands of service providers and blocking innovation.
    <br><br>
    Obamacare: Repeal it.
    <br><br>
    As he displayed in his 2013 23-hour speech on the Senate floor, Cruz is adamantly opposed to the new health care law and wants it repealed in entirety.
    <br><br>
    Social Issues: Only the four states specifically named in the Supreme Court decision on gay marriage must abide by the ruling. In general, states should be allowed to define “marriage.” There should be strict limits on abortion.
    <br><br>
    Following the Supreme Court’s decision nationalizing same-sex marriage, Cruz told NPR that only the four states listed in the Supreme Court case (Kentucky, Michigan, Ohio and Tennessee) must abide by the ruling and that other states should ignore it. The Texas senator also said he now wants to abolish lifetime appointment to the court and subject justices to periodic election instead. Cruz believes marriage is between a man and a woman and that states should define the term “marriage” for themselves.
    <br><br>
    On abortion, the Republican lawmaker has called the Supreme Court’s Roe v. Wade decision legalizing the procedure a “dark anniversary” but has not said whether he would specifically work to overturn it. Cruz has staunchly supported bans on any taxpayer funding of abortion and bans of so-called partial birth abortion. He has fervently supported a Texas law that would require doctors at abortion clinics to have admitting privileges at a nearby hospital, a requirement that could limit staffing at abortion facilities. That Texas law was ruled unconstitutional by a lower court and is now before the U.S. Court of Appeals.
    <br><br>
    Taxes and the IRS: Move toward a flat tax and abolish the IRS.
    <br><br>
    Cruz supports moving toward a flat tax, which would set a single rate for all Americans regardless of income. With a simpler tax code, the senator argues the IRS would be unnecessary and would like to abolish it as a spokeswoman explained to the Dallas Morning News.
    <br><br>
    Iran: Increase and toughen sanctions. End current nuclear talks until Congress approves the outlines of a deal.
    <br><br>
    His approach is summed up in a bill the Texas Senator unveiled last week. You can read Cruz’ “Sanction Iran, Safeguard America Act” here.
    <br><br>
    Islamic State: Don’t send U.S. ground troops, yet.
    <br><br>
    Cruz told ABC’s “This Week” in February that he does not think the U.S. should send ground forces to fight I.S. now. But he added that if Kurdish Peshmerga fighters on the ground are unable to combat I.S., then the U.S. “should” send troops. He also stated that he thinks the U.S. should send arms to Peshmerga forces.
    <br><br>
    BY LISA DESJARDINS
    <br><br>
    Content originally appeared on <a href="www.pbs.org/newshour">pbs.org</a>

</p>
<a href="/"><button class="main">Back to Main</button></a>
</div>