<div class="profile">
    <img class="headshot" src="/images/hillary.jpg" alt="Hillary Clinton">

<h2>Hillary Clinton</h2>
<h4>Democrat</h4>

<p>Hillary Rodham Clinton owns a singular resume: first lady, senator and secretary of state. She is also a lawyer who worked on the Watergate investigation and a four-decade veteran of campaigns. Add two-time presidential contender. Here is a look at where Clinton stands on ten key issues.
    <br><br>
    Education: Against No Child Left Behind. Position unknown on Common Core.
    <br><br>

    In her 2008 campaign, Clinton decried President George W. Bush’s trademark education program, calling No Child Left Behind an unfunded mandate and pledging to end it if elected. During a recent campaign stop in Iowa, Clinton indicated support for Iowa’s version of Common Core, but did not specifically endorse the national education standards.
    <br><br>

    Immigration: President should waive deportation for some immigrants. Give undocumented residents a path to legal status.
    <br><br>

    Clinton supports comprehensive immigration reform, including a path to legal status for undocumented immigrants. She voted for the 2007 plan endorsed by then President George W. Bush which ultimately died in the Senate.
    <br><br>

    Late last year, Clinton spoke in favor of President Obama’s executive actions to waive deportation for some immigrants illegally in the country.
    <br><br>

    Marijuana: “Wait and see” on overall legalization.
    <br><br>

    Clinton told CNN last year she wants to see more studies and research, especially in states which have legalized marijuana, before forming her opinion on the federal level.
    <br><br>

    NSA: More transparency. Find the balance between security, privacy.
    <br><br>

    Clinton believes the National Security Agency needs to be more transparent. In an interview in February, she also said that the nation needs to “draw a line” and generally find balance between security needs and privacy.
    <br><br>

    In 2014, when asked about Edward Snowden and his leak of classified security documents, Clinton stressed her concern for security threats and appreciation of intelligence she’d seen while in the Senate. She also questioned Snowden’s decison to flee the country and take refuge in Russia.
    <br><br>

    Obamacare: Keep it. Strengthen it. Tout it.
    <br><br>

    The former Obama cabinet member strongly supports the Affordable Care Act, telling NewsHour’s Gwen Ifill last year that Democrats should tout the health care law and run on its success, rather than running away from it. Clinton has said the law should be improved upon where possible. Clinton led a White House task force on health care in 1993. That plan included a mandate that all employers cover health care for their workers, but it did not get any traction in Congress.
    <br><br>

    Social Issues: Abortion should be legal. So should same-sex marriage.
    <br><br>

    Clinton is a staunch supporter of legal access to abortions. As secretary of state, Clinton told a Congressional hearing that, “Family planning is an important part of women’s health and reproductive health includes access to abortion.”
    <br><br>

    On gay marriage her stance has “evolved.” Clinton now supports same-sex marriage. But she has acknowledged that this was not always her viewpoint. Her conversation on the topic with NPR’s Terry Gross last year made headlines. Clinton recently blasted Indiana’s Religious Freedom Restoration Act, tweeting that it was “sad.”
    <br><br>

    Taxes: Consider closing loopholes and cutting middle class taxes.
    <br><br>

    Clinton aides tell the New York Times that she is considering proposals to close corporate tax loopholes and cut middle class taxes as part of her campaign. In the past, she has indicated concern over concentrations of wealth by higher incomes, including at a speech last year where she said, “extreme inequality has corrupted other societies.”
    <br><br>

    She may propose to keep capital gains taxes below 20 percent, as she did during a primary debate in 2008. In 2008, Clinton proposed suspending the federal gas tax for the summer as consumers faced rising prices at the pump.
    <br><br>

    Israel: Work toward a two-state solution. Do not necessarily freeze settlement building.
    <br><br>

    Clinton recently affirmed her commitment to a two-state solution in the conflict between Israel and the Palestinians. She said that the U.S. needs to return to a more constructive footing in the region, following tensions between President Obama and Israeli Prime Minister Benjamin Netanyahu. She has differed with the president on the issue. Clinton also has said she would not have pushed to freeze Israeli settlement building in 2009.
    <br><br>

    Iran: Support framework for nuclear deal. Continue diplomacy efforts and some sanctions.
    <br><br>

    Clinton supports the current Iran framework and has praised President Obama and Secretary of State John Kerry for their diplomatic efforts. As secretary of state, she backed sharp sanctions against Iran, but has recently said additional sanctions, proposed by Congress, would be detrimental to striking a deal.
    <br><br>

    During the 2008 campaign, Clinton criticized Obama’s suggestion that the U.S. could negotiate with Iran without precondition.
    <br><br>

    Islamic State: No boots on the ground. Use regional troops.
    <br><br>

    Clinton believes the U.S. should use air support to fight the Islamic State, that American and other Western troops should not be fighting on the ground. Instead she argues that regional forces, especially the Iraqis, should provide ground troops.
    <br><br>

    Clinton wrote in her memoir, “Hard Choices,” that she pushed the Obama adminstration to become more involved in Syria earlier. During an August interview with The Atlantic, Clinton said the failure to help Syrian rebels directly led to the rise of the Islamic State.
    <br><br>

    TPP: Last week, Clinton said she did not support the Trans-Pacific Partnership as it currently stands. The deal – the largest trade agreement in history – cuts trade barriers, protects multinational corporations’ intellectual properties and sets labor and environmental standards.
    <br><br>
    Content originally appeared on <a href="www.pbs.org/newshour">pbs.org</a>
    <br><br>
    BY LISA DESJARDINS

</p>
<a href="/"><button class="main">Back to Main</button></a>
</div>