<div class="profile">
    <h2>What do you know about the current presidential front-runners?</h2>
    <img class="widebox" src="/images/white-house.jpg" alt="White House">
    <br>
    <p>There's currently a lot of hype about the unusually large pool of prospective candidates for this election cycle's presidential election.
    <br><br>
        While the pool has arguably been narrowed down to a pair of front runners from each major party, many in America are still ill-informed on the political positions held by these candidates.
        <br><br>
        Compiled on this page are a collection of biographies for the current leaders of each major party. Feel free to navigate between their pages to read about their views and compare stances on major national issues.
    </p>

</div>